
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}


.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: #3e3e3e;
     line-height: 35px;
     font-weight: bold;
     padding: 0;
     padding-bottom: 20px;
}

.contact .titlepage span {
     font-size: 17px;
     line-height: 28px;
}

.contact {
     padding-top: 90px;
}

.main_form {
     padding: 50px 50px;
     border: #008df3 solid 1px;
     border-radius: 40px;
     margin: 0px 80px;
}

.contact .main_form .form_contril {
     border: #008df3 solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: #fff;
     color: #008df3;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .textarea {
     border: #008df3 solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: #fff;
     color: #008df3;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     display: block;
     margin-top: 30px;
     width: 100%;
     max-width: 190px;
}

.contact .main_form .send_btn:hover {
     background-color: #008df3;
     transition: ease-in all 0.5s;
     color: #fff;
     border-radius: 26px;
}

#contact *::placeholder {
     color: #008df3;
     opacity: 1;
}

